*.npy
*.dat
*.pyc
*.pyi
a.out
.ropeproject
.mypy_cache
__pycache__
build

wrapper/*.c
wrapper/*.cpp

wrapper/orbitals.pyx
wrapper/wavefunc.pyx
wrapper/workspace.pyx

tdse/*.so

.asv

CMakeLists.txt.user

.ipynb_checkpoints

wrapper/masks.pyx
wrapper/orbitals.pyx
wrapper/wavefunc.pyx
wrapper/workspace.pyx
wrapper/atom.pyx
wrapper/grid.pyx
